#game-messages {
    font-size: 2em;
    left: -50px;
    top: 450px;
    position: absolute;
}

body {
    background-color: #bbcbcc;
    color: #020611;
}

.homepage-object {
    margin-left: 5px;
}

.btn-sm, .btn-group-sm > .btn {
    background-color: #2d4354;
    border-color: #020611;
    color: #bbcbcc;
}

#ld-header {
    left: 75px;
    position: relative;
}

#die-total {
    z-index: 50;
    position: absolute;
    color: white;
    top: 200px;
    left: 220px;
}

.table > thead > tr > th, 
.table > tbody > tr > th,
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    height: 1em;
    font-size: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    background-color: #aa9eaf;
    color: white;
    margin: 0px auto;
}

.game-table-forms {
    background-color: #aa9eaf;
    text-align: center;
    color: white;
    margin: 0px auto;
    padding: 0.3em;

}

.game-tables {
    display: inline;
    text-align: center;
}

#table-image {
    position: absolute;
    top: 50px;
    left: -100px;
    height: auto;
    width: 100%;
    max-width: 1500px;
    z-index: 4;
    padding-left: 0;
}

/*for player in position 1*/
#cup-1 {
    position: absolute;
    top: 270px;
    left: 30px;
    height: 5em;
    z-index: 5;
}

/*for player in position 2*/
#cup-2 {
    position: absolute;
    top: 150px;
    left: -30px;
    height: 5em;
    z-index: 5;
}

/*for player in position 3*/
#cup-3 {
    position: absolute;
    top: 40px;
    left: 30px;
    height: 5em;
    z-index: 5;
}


/*for player in position 4*/
#cup-4 {
    position: absolute;
    top: 40px;
    left: 450px;
    height: 5em;
    z-index: 5;
}

/*for player in position 5*/
#cup-5 {
    position: absolute;
    top: 150px;
    left: 530px;
    height: 5em;
    z-index: 5;
}

/*for player in position 6*/
#cup-6 {
    position: absolute;
    top: 270px;
    left: 450px;
    height: 5em;
    z-index: 5;
}


#player-bidding {
    margin-right: 4em;
}

.player-details {
    z-index: 50;
    position: absolute;
    color: white;
}

#player-1 {
    top: 300px;
    left: 90px;
}

#player-2 {
    top: 180px;
    left: 30px;
}

#player-3 {
    top: 70px;
    left: 90px;
}

#player-4 {
    top: 70px;
    left: 510px;
}

#player-5 {
    top: 180px;
    left: 590px;
}

#player-6 {
    top: 300px;
    left: 510px;
}

.die {
    z-index: 100;
    position: relative;
    height: 3em;
    top: 350px;
    padding-right: 5px;
}

/*tool tips*/
.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    z-index: 200;
    top: 0 !important;
    color: red;
}

#gamesInProgress {
    text-align: center;
}

#biddingProbs {
    text-align: center;
}

.player-factors {
    z-index: 300;
    position: relative;
    padding: 0.1em;
}

#stats-2 {
    top: 225px;
    left: 30px;
    position: absolute;
/*    background-color: #665570;*/
}

#stats-3 {
    top: 115px;
    left: 90px;
    position: absolute;
}

#stats-4 {
    top: 115px;
    left: 510px;
    position: absolute;
}

#stats-5 {
    top: 225px;
    left: 590px;
    position: absolute;
}

#stats-6 {
    top: 345px;
    left: 510px;
    position: absolute;
}

#bidding-probs-div {
    display: inline-block;
    margin-left: 85px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
    height: 100%;
}

.probs-button {
    background-color: #866e9b;
    border-color: #866e9b;
}

.probs-button:hover, .probs-button:focus, .btn-sample:active, .btn-success:active:focus, .probs-button:active, .probs-button.active, .open>.dropdown-toggle.probs-button {
    background-color: #966e9b;
    border-color: #966e9b;
    outline: none !important;
    box-shadow: none;
}

.form-inputs {
    padding-right: 0.3em;
}

h3 {
    font-size: 1.6rem;
}