<!doctype html>
<html>
<head>
    <title>Play Liar's Dice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
</head>
<body>
<!--   <div id="main-header" class="container-fluid">
    <div class="row"> -->

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/static/dice.png" width="30" height="30" class="d-inline-block align-top" alt=""> Liar's Dice</a>

        {% if session.get('username') %}
                <a id="login" class="navbar-brand" href="/logout">Log Out</a>
          {% else %}
                <a id="login" class="navbar-brand" href="/login">Sign In</a> <a class="navbar-brand" href="/register">New User? Sign Up</a>
          {% endif %}
</nav>

  <h2><ul>
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
  </ul></h2>

{% block content %} put your content here {% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>