{% extends 'base.html' %}
{% block content %}

<h1> Welcome to Liar's Dice! </h1>
<form action='/game', method='POST'>
    Please select a difficulty: 
    <input type='radio' name='difficulty' value='e'>Easy
    <input type='radio' name='difficulty' value='m'>Medium
    <input type='radio' name='difficulty' value='h'>Hard<br>
    How Many Players (including yourself)?: 
    <select name = 'num-players'>
        <option value="2">2 Players</option>
        <option value="3">3 Players</option>
        <option value="4">4 Players</option>
        <option value="5">5 Players</option>
        <option value="6">6 Players</option>
    </select><br>
    <input type="submit" value="Play New Game!">
</form>

{% endblock %}