{% extends 'base.html' %}
{% block content %}

<h1 class="homepage-object"> Welcome to Liar's Dice! </h1>
      <!-- Instructions button -->
       <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary homepage-object" data-toggle="modal" data-target="#instructions">
          Instructions
        </button><br><p></p>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="instructions" tabindex="-1" role="dialog" aria-labelledby="instructionsLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="instructionsLabel">Instructions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <h3>Initial Setup</h3>
                  <p> Each player will start with 5 6-faced dice. Players can look at their own dice, but they shouldn't be able to see anybody else's. After you peek at your dice, based on what you found you can make a call about how many of any number of dice there are on the table. 

                  In this game, 1s are wild, meaning that they will be counted towards the total dice of the selected face value (for instance, if you have 2 5s in your hand, and 3 1s in your hand, you have 5 5s or 3 2s, 3s, 4s, or 6s). </p>

                  <h3>Bidding</h3>
                  <p>The calls must be in order to the player on the left. If somebody else makes a higher call than you, you can raise yours, but only if the player that raises it is on the left. The hands are ranked first by amount, number of dice (5 4's), then by value, dots on the face (5 4's). So, (2, 3's) are better that (2, 2's) but not (3, 2's)</p>

                  <p>Eventually somebody will make what the next player believes to be an impossible call. That person will call <b>Challenge!</b> instead of making a bid. For instance, they might say there are six 6s when there are only eight dice on the table and the other player can see none of his are 6's, and somebody will say the caller is a liar. At that point, the dice are revealed.
                  <ul>
                  <li>If you call somebody a liar and you were wrong, you lose a die.</li>
                  <li>If you call someone a liar and they were lying, they lose a die.</li>
                  </ul>
                  </p>

                  <p>You may also call <b>Exact!</b>. This means that the current bid is exactly correct. Therefore, if a player bid 10 5s, and it's your turn, if you call exact, you win if there are exactly 10 5s. If there are more or less than 10 5s, you lose a die. If you win, you <i><b>gain</b></i> a die (if the total dice in play is less that what the game started with - i.e. if you started with 30 dice, and there were 25 left when you made the call, you'd gain a die, but if there were 30 left, you wouldn't).</p>

                  <h3>Ending the Game</h3>
                  <p>If a player runs out of dice, they're out of the game. The rest of the players continue to play until there are no players in the game. When there are no longer any players in the game, the remaining player is the winner!</p>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>



  {% if session.get('username') %}
        <!-- Create game modal -->
       <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary homepage-object" data-toggle="modal" data-target="#createNewGame">
          Create New Liar's Dice Game!
        </button>

        <!-- Modal -->
        <div class="modal fade" id="createNewGame" tabindex="-1" role="dialog" aria-labelledby="createNewGameLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="createNewGameLabel">Create New Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action='/game', method='POST'>
                    <span class="form-inputs">Please select a difficulty: </span>
                    <input type='radio' name='difficulty' value='e' required> Easy
                    <input type='radio' name='difficulty' value='m' required> Medium
                    <input type='radio' name='difficulty' value='h' required> Hard<br>
                    <span class="form-inputs">How Many Players (including yourself)?</span> 
                    <select name = 'num-players' required>
                        <option value="2">2 Players</option>
                        <option value="3">3 Players</option>
                        <option value="4">4 Players</option>
                        <option value="5">5 Players</option>
                        <option value="6">6 Players</option>
                    </select><br>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create New Game</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <br>
        <p></p>
        <!-- Load saved games modal -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary homepage-object" id="load-inprogress-games" data-toggle="modal" data-target="#gamesInProgress">
        Show Games in Progress
        </button>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-sm" id="gamesInProgress" tabindex="-1" role="dialog" aria-labelledby="gamesInProgressTitle" aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="gamesInProgressTitle">Load Game in Progress</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3><div id = 'loaded-games'>
                </div></h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <!-- <h2><a id='load-game' href="/loadgame">Show Games in Progress</a></h2> -->

            <!-- also check if there even is a saved game -->
  {% else %}
         <h2><a href="/login">Log in to play!</a></h2>
  {% endif %}

<script src="/static/homepage.js"></script>
{% endblock %}