{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <span id="ld-header"> <h1 data-toggle="tooltip" title="Difficulty:{% if game.difficulty == 'h' %} Hard
        {% elif game.difficulty == 'm' %} Medium {% else %} Easy {% endif %}">Let's Play Liar's Dice!</h1> </span>
      <div id="game-table">
          <img id="table-image" src="/static/table.png">
          {% for player in players %}
            <img id="cup-{{  player.position  }}" src="/static/cup.png">
            <span id="player-{{  player.position  }}" class="player-details">
              <b>{{  player.name  }}</b><br>
              <span id="die-count-{{ player.position }}">Dice Left: {{ player.die_count }}<br></span></span>
                {% if player.comp %}
                <!-- Button for model - opponent factors -->
                  <span id="stats-{{ player.position }}"><button type="button" class="btn btn-primary btn-xs player-factors" data-toggle="modal" data-target="#{{ player.position }}Factors">
                    View Factors
                  </button></span>

                    <!-- Modal -->
                    <div class="modal fade" id="{{ player.position }}Factors" tabindex="-1" role="dialog" aria-labelledby="{{ player.position }}FactorsLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="{{ player.position }}FactorsLabel">Opponent Factors</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <canvas id="stats-chart-{{  player.position  }}" width="400" height="400"></canvas>
                            <!-- <div id="legend-{{  player.position  }}" class="chart-legend"></div> -->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>


              {% else %}
                <span id="player-die-roll">
                    {% for die in player.current_die_roll %}
                    <img id="die-{{ die }}" class="die" src="/static/die{{ die }}.png">
                    {% endfor %}</span>
              {% endif %}
          {% endfor %}
      <span id="die-total"><h3>Dice Left: {{ total_dice }}</h3></span> 
          
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3 id='turn-marker'> Current Turn: {{ current_turn_name }}</h3>
      <div class="game-table-forms">
        <h2>Bidding Action</h2>
        <table class="table table-sm table-responsive table-bordered game-tables">
          <tr>
            <th>Player</th>
            <th>Die Choice</th>
            <th>Dice Count</th>
          </tr>
          <tbody id='bids'>
                  {% for bid in bids %}
                  <tr>
                  <td class='player-name'>{{ bid.player.name }}</td>
                  <td class='die-choice'>{{ bid.die_choice }}</td>
                  <td class='die-count'>{{ bid.die_count }}</td>
                  </tr>
                  {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
      <button id="opp-bidding" class='btn-primary btn-sm start-bid'>
      Start Player Bidding</button>
      <br>
      <button class='btn-primary btn-sm start-new-turn'>Start Next Turn</button>
      <br>
      <div id="player-bidding-tables">
        <h3>Place Your Bid!</h3>
        <form id='bid-form' action='/playerturn', method='POST' >
          <input type='hidden' value='{{ game.id }}' name='game-id'>
          <div class="form-group">Which die do you want to bid on?
            <select id="player-die-choice" name = 'player-die-choice'>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select><br>
            How many dice do you want to bid?
          <div id="player-die-count-choices">
            <select name = 'player-die-count'>{% for i in range(1, total_dice + 1) %}
                  {% if i == 1 %} <option value="{{ i }}">{{ i }} die</option>
                  {% else %} <option value="{{ i }}">{{ i }} dice</option>
                  {% endif %}
              {% endfor %}
            </select>
          </div>
          <button type="submit" class='btn-primary btn-sm' id='player-bidding' value="Bid!">Submit Bid!</button>      
        </div>
        </form>
          <div id="challenge-exact">
            <button class='btn-primary btn-sm bid-type' id='challenge' value='challenge'>Challenge</button>
            <button class='btn-primary btn-sm bid-type' id='exact' value='exact'>Exact</button>
            <br>
            <br>
          </div>
      </div>
      <div id="bid-probs">
        <!-- Create game modal -->
       <!-- Button trigger modal -->
        <button type="button" id="bidding-probs" class="btn btn-primary" data-toggle="modal" data-target="#showProbs">
          Show Bidding Probabilities
        </button>
        <!-- Modal -->
        <div class="modal fade" id="showProbs" tabindex="-1" role="dialog" aria-labelledby="showProbsLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="showProbsLabel">Bidding Probabilities</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="bidding-probs-div">
                  <table class="table table-sm table-responsive table-bordered game-tables">
                    <tr>
                      <th>Die Choice</th>
                      <th>Die Count</th>
                      <th>Probability</th>
                    </tr>
                    <tbody id='probs'>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <b>
      <div id="game-messages">
      </div>
      </b>
    </div>
  </div>
</div>
<script src="/static/game_play.js"></script>
{% endblock %}